*{
    margin: 0px;
    padding: 0px;
}
.calculator{
    width: 300px;
    height: 450px;
    margin: 0px auto ;
    margin-top: 100px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    
}
body{
    background-color: aquamarine;
}

.screen{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: right;
    color: white;
    font-size: 40px;
    outline: none;
    margin-bottom: 40px;
    border: none;
    pointer-events: none;
}

.btn{
    width: 65px ;
    height: 65px;
    margin: 1px;
    font-size: larger;
}
div{
    padding: 8px;
}

.yellow-btn{
    background-color: orange;
    color: white;
}

.equal-btn{
    background-color: green;
}

.clear-btn{
    background-color: red;
}